<% if current_user %>

    <h3 class="pull-right">Organization: <%= @tenant.name %></h3>
    <%= render 'projects/list' %>

<% else %>

<div class="jumbotron">

    <h2>Welcome to the Project Management App!</h2>

    <p class="lead">

        You'll love managing your project with our SaaS application. Please take a look at our great features

    </p>

</div>

<div class="row">

    <div class="plans clearfix">

        <div class="col-lg-4 col-lg-offset-4 plan">


            <div class="features">

                <ul>

                    <li>Unlimited file uploads</li>
                    
                    <li>Unlimited projects</li>
                    
                    <li>Responsive design</li>
                    
                    <li>Access anywhere</li>
                    
                    <li class='extra'>Free</li>
                    
                </ul>

            </div>

        </div>

    </div>

</div>

<br>

<div class="sign-up">

    <%= link_to 'Sign Up', new_user_registration_path(plan: 'free'), class: 'btn btn-primary sign-up' %>

</div>

<br>

<% end %>
